.pro-sidebar {
    background-color: #071B63 !important;
}

.icon-suffix {
    display: none;
}

.text-decoration-none {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}

.header-name-container {
    margin: 0 auto;
    text-align: center;
}

span.item-content {
    white-space: normal !important;
    line-height: 1.2;
    font-weight: 200;
    font-family: 'Montserrat';
    font-size: 13px;
    color: #C4C4C4;
}
