.profileCentering {
    display: block; 
    margin: 0 auto;
    text-align: center;
}

.profileSummaryHeader {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

.profileText {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: block;
}

.profileTextDot {
    width: 10px;
    height: 10px;
    background: #00FF00;
    border-radius: 50%;
    position: absolute;
    top: 67%;
    left: 12%;
}

.roundImg {
    background-color: #ebd9dd;
    border-radius: 60px;
}

.profileEditText {
    padding: 15px;
    background-color: #c9d6df;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}